body {
	font-family: 'Nunito', sans-serif;
	padding: 3em;
}

/* header */
header {
    margin: 20px 0; 
	display: flex; 
	justify-content: center;
	font-weight: 200;
	color: #bc4749;
}

#header-spacer {
	width: 50%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
}

#portrait img {
    width: 300px;
	margin: 5px;
}
h1 {
	font-size: 3em;
	letter-spacing: 5px;
}

/* nav bar */

nav {
	display: flex;
	justify-content: center;
}

.pad {
	flex-basis: 200px;
}

#nav-bar {
	display: flex;
	flex-grow: 1;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}

.nav-button {
	font-family: inherit;
	font-size: 1.5em;
	border: none;
	height: 50px;
	width: 275px;
	flex-grow: 1;
	background-color: white;
}

.nav-button:hover {
	color: #bc4749 !important;
	transition: background-color 0.2s ease-out !important;
	background-color: #fcfcfc !important;
}
.nav-button:active {
	color: #ac4143;
	background-color: #f7f7f7;
	transition: background-color 0.2s ease-out;
}
.nav-button {cursor: pointer} 

section {
	display: none;
}

/* content */
.content {
	padding: 5px 15px;
}
.content-header {
	text-transform: uppercase;
	font-size: 1rem;
	font-weight: 600; 
	margin: 10px 0px;
}

.content-list {
	margin: 5px 0px;
	padding-left: 25px;
}
.content-list-item {
	padding: 1px 5px;
	list-style-type: disc;
	margin: 5px 0px;
}

.content-details {
	display: flex;
	justify-content: space-between;
}

.content-details-text {
	color: #bc4749;
	font-size: 1rem;
}




/* technical skills */
.skill-table {
	display: flex;
	padding: 10px 50px;
	flex-wrap: wrap;
	justify-content: space-around;
}
.skill-table-col {
	margin: 0px 10px;
}

/* medium screen */
@media only screen and (max-width: 1185px) {
	body {
		padding-top: 25px;
	}
	#portrait img {
		object-fit: cover;
		height: 300px;
		/* width: 200px; */
	}
	
	.nav-button {
		font-size: 1.3em;
		height: 40px;
	}

}
/* small screen  */
@media only screen and (max-width: 650px) {
	body {
		padding-top: 0px;
	}
	#portrait img {
		object-fit: cover;
		height: 225px;
		width: 225px;
	}
	h1 {
		font-size: 2em;
	}
	.nav-button {
		font-size: 1.1em;
		height: 40px;
	}
	.skill-table {
		display: block;
		padding: 10px 10px;
	}
	.content-details {
		display: block;
	}
	
}

